@charset "utf-8";
/* CSS Document */

body,td,th {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 12px;
}
body {
 margin-left: 0px;
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 padding: 0px;
}


td,th,tr{
    
    border: none;
    border-collapse: collapse;
    outline: none;
}
.details td{
    padding: 20px;
}

.profile td{
    padding: 30px;
}
.profile{
   text-align: center;
}
.profile img{
    display: block;
    margin: 0 auto;
}
.name{
    font-size: 25px;
    color: #449399;
    font-weight: bold;
}
.text-white{
    color:#ddd; 
}
.bor-bottom{
    border-bottom: 2px solid #449399;
    width: 100%;
}
.text-blue{
    color: #449399;
}
.text-black,.skill{
    color: #444;
}
 .left,.right{
    vertical-align:top;
    height: 1400px;
 }
 .hr{
     width: 100%;
     color: #449399;
     height: 5px;
 }
 .skill{
     color: #ddd;
 }
